.Button {
  align-content: center;
  border-width: 3px;
  border-radius: 100%;
  border-color: white;
  border-style: solid;
  display: inline-block;
  color: white;
  padding: 3%;
  margin-right: 15px;
  margin-bottom: 15px;
}

.ButtonSquare-black {
  font-size: 24px;
  padding: 3%;
  align-content: center;
  flex-wrap: wrap;
  align-content: center;
  border-width: 3px;
  border-color: white;
  border-style: solid;
  display: inline-block;
  color: white;
  background-color: black;
  border-radius: 20%;
  margin-right: 15px;
}

.ButtonSquare-white {
  padding: 3%;
  align-content: center;
  border-width: 3px;
  border-color: white;
  border-style: solid;
  display: inline-block;
  color: black;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 20%;
}

.ButtonNum {
  font-size: 24px;
  font-weight: bold;
  align-content: center;
}

.input {
  padding: 3%;
  border-radius: 5%;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  font-size: 4vh;
  text-align: center;
  margin-right: 5px;
}

.book-desc {
  font-size: 4vh;
}

.code-head {
  padding: 5%;
  font-size: 4vh;
}

.bookcode-container {
  padding: 10px;
}

.print-button-text {
  font-size: 24px;
}

.ButtonSquare-whiteee {
  padding: 3%;
  align-content: center;
  border-width: 3px;
  border-color: white;
  border-style: solid;
  display: inline-block;
  color: black;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 20%;
  font-size: 20px;
  font-weight: bold;
}

.ButtonSquare-Roundd {
  align-content: center;
  border-width: 3px;
  border-radius: 100%;
  border-color: white;
  color: white;
  font-weight: bold;
  font-size: 3vh;
  border-style: solid;
  display: inline-block;
  background-color: #e6c79b;
  padding: 3%;
  margin-right: 15px;
  margin-bottom: 15px;
}
